/* General styling */
:root {
    --color-header: #353535;
    --color-secondary: #0000ff;
    --color-tertiary: #00ff00;
    --timeline-height: 150px;
    --timeline-width: 1920px;
    --curr-time-text-height: 55px;
}
    
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--color-header);
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 2000;
}
.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    margin-bottom: 10px;
}
.logo-container:hover {
    cursor: pointer;
}
.logo {
    width: 70px;
    height: 70px;
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: white;
}
.logo-container h1 {
    color: white;
    font-size: 3rem;
    font-family: Outfit;
    font-weight: 400;
    margin: 0;
}

.all-button-container {
    display: flex;
    justify-content: flex-start;
}
.view-toggle-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 8px;
    
}
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    
}
.button-container::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.date-buttons-container {
    display: flex;
    gap: 8px;
    /* overflow-x: auto; */
    /* padding: 10px; */
    align-items: center;
}

.date-button-divider {
    width: 2px;
    height: 24px;
    background-color: #ccc;
    margin: 0 8px;
}

.future-date-btn {
    /* Add any specific styling for future date buttons */
    background-color: #f0f0f0;
}
.header button {
    flex-shrink: 0;
    padding: 10px 20px;
    margin: 0px;
    margin-right: 10px;
}
.content {
    margin-top: 145px; /* Adjust based on header height */
    /* margin-right: 50px; */
    height: calc(100% - 60px);
    overflow-y: auto;
}

.schedules-container {
    display: flex;
    flex-direction: column;
}
.schedule {
    display: flex;
    margin-bottom: 0px;
    height: var(--timeline-height); /* Fixed height for schedule */
    border-top: 1px solid #ccc;
    
    
}
/* only to make space for the time labels */
#first-schedule {
    height: calc(var(--timeline-height) + var(--curr-time-text-height));
    border-top: 0px;
    
}
.first-border {
    height: 1px;
    width: 100%;
    top : 0;;
    transform: translateY(calc(var(--curr-time-text-height) - 0px));
    background-color: #ccc;
}
#first-timeline-container {
    padding-top: var(--curr-time-text-height);
    
}

#first-schedule-name {
    margin-top: var(--curr-time-text-height);
    /* border-top: 1px solid #ccc; */
}
.fade-in-container {
    height: calc(var(--timeline-height) + var(--curr-time-text-height));
    display:flex;
    flex-direction: column;
    
}
#first-fade-in {
    height: var(--curr-time-text-height);
    /* move up by the height of the current time text */
    top: calc(-1 * var(--curr-time-text-height));
    border-bottom: 1px solid #ccc;
}

/* until here */
.schedule-name {
    width: 50px;
    padding: 10px;
    background-color: #ffffff;
    position: sticky;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
}
.fade-in {
    /* a box, that simulates a white shade that is white on ots left side 
    and fades to transparent on its right side
    it sits on top in its container */
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    top: 0;
    left: 50px;
    height: 100%;
    width: 60px;
}
.schedule-name h5 {
    margin: 0;
    transform: rotate(-90deg);
    transform-origin: center;
    white-space: nowrap;
    padding: 0;
    font-weight: bold;
    font-size: 1.1rem;

}
.timeline-container {
    overflow-x: auto;
    overflow-y: hidden;
    width: calc(100% - 50px);
    z-index: 100;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    
}
.timeline-container::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
 
.timeline {
    width: var(--timeline-width); /* Fixed length for timeline */
    /* background-color: rgb(233, 129, 129); */
    height: var(--timeline-height);
    padding: 0 50px;
    /* background-image: linear-gradient(to right, #000 1px, black 1px);
    background-size: 1400px 100%; Adjust this value based on your timeline scale */

}
.timeline-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.current-time {
    position: absolute;
    top: -15px;
    bottom: 0;
    width: 4px;
    height: calc(var(--timeline-height) + 20px);
    background-color: red; /* Or any color you prefer */   
    align-items: center;
    transform: translateX(-50%); 
    z-index: 0;
}
.current-time-text{
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 1.1rem;
    background-color: red;
    color: white;
    font-weight: bold;
    
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-bottom: 25px;
    border-radius: 7px;

   
}


.timeline-item {
    /* width: 180px;
    margin-right: 10px;
    background-color: #ddd;
    padding: 5px; */
}
.time-scale-text {
    width: 23px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    color: #333;
    position: absolute;
    top: 0;
    transform: translate(-100%, -100%);
    padding-bottom: 15px;
    z-index: -20;
}

.time-scale {
    width: 4px;
    top : 0;
    position: absolute;
    border-radius: 10px;
    background: #f0f0f0;
    align-items: center;
    transform: translateX(-50%);
    margin-top: 15px;
    height: calc(var(--timeline-height) - 30px);
    z-index: -5;
}
/* General styling for movie blocks */
.movie-block {
    /* border: 1px solid #ccc; */
    border-radius: 7px;
    padding: 8px;
    margin: 10px 0px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    cursor: pointer;
    height: calc(var(--timeline-height) - 20px);
    z-index: 10;
}

.movie-block-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    
}

/* Flex container for top part (poster + title) */
.movie-block-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}


/* Ensure the poster and title are aligned properly */
.movie-block img {
    
    margin-right: 10px;
    height: 100%;
    border-radius: 4px;
}

.movie-block strong {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    line-height: normal;
    font-weight: 700;
    overflow-wrap: anywhere;
}

.show-time {
    margin-top: 3px;
    font-size: 1rem;
}
.omdu {
    font-size: 1rem;
    margin-top: 0px;
    font-weight: bold;
}


@media (orientation: portrait) {
    .logo-container {
        width: 100%;
        justify-content: center;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .logo {
        width: 50px;
        height: 50px;
        margin-right: 5px;
    }

    .logo-container h1 {
        font-size: 2rem;
    }
    .content {
        margin-top: 125px; 
    }
}