/* General styling */
:root {
    --color-header: #353535;
    --color-secondary: #0000ff;
    --color-tertiary: #00ff00;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--color-header);
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    z-index: 1000;
}
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
}
.header button {
    flex-shrink: 0;
    padding: 10px 20px;
    margin: 0px;
    margin-right: 10px;
}
.content {
    margin-top: 70px; /* Adjust based on header height */
    
    height: calc(100% - 60px);
    overflow-y: auto;
}

.schedules-container {
    display: flex;
    flex-direction: column;
}
.schedule {
    display: flex;
    margin-bottom: 0px;
    height: 200px; /* Fixed height for schedule */
    border-top: 1px solid #ccc;
}
/* only to make space for the time labels */
#first-schedule {
    height: 260px;
    border-top: 0px;
}
#first-timeline-container {
    padding-top: 56px;
}
#first-schedule-name {
    margin-top: 56px;
    border-top: 1px solid #ccc;
}
#saal-tarantino {
    border-top: 1px solid #ccc;
}
/* until here */
.schedule-name {
    width: 50px;
    padding: 10px;
    background-color: #ffffff;
    position: sticky;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    
}
.fade-in {
    /* a box, that simulates a white shade that is white on ots left side 
    and fades to transparent on its right side
    it sits on top in its container */
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    top: 0;
    left: 50px;
    height: 100%;
    width: 60px;
}
.schedule-name h5 {
    margin: 0;
    transform: rotate(-90deg);
    transform-origin: center;
    white-space: nowrap;
    padding: 0;
    font-weight: bold;

}
.timeline-container {
    overflow-x: auto;
    overflow-y: hidden;
    width: calc(100% - 50px);
    z-index: 100;
}
 
.timeline {
    width: 2200px; /* Fixed length for timeline */
    background-image: linear-gradient(to right, #000 1px, black 1px);
    background-size: 2200px 100%; /* Adjust this value based on your timeline scale */
}
.timeline-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.current-time {
    position: absolute;
    top: -12px;
    bottom: 0;
    width: 3px;
    height: 220px;
    background-color: red; /* Or any color you prefer */    
}
.current-time-text{
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    background-color: red;
    color: white;
    font-weight: bold;
    
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    margin-bottom: 25px;
    border-radius: 7px;

   
}
.timeline-item {
    width: 180px;
    margin-right: 10px;
    background-color: #ddd;
    padding: 5px;
}
/* General styling for movie blocks */
.movie-block {
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 8px;
    margin: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    cursor: pointer;
    height: 180px
}

.movie-block-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    
}

/* Flex container for top part (poster + title) */
.movie-block-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}


/* Ensure the poster and title are aligned properly */
.movie-block img {
    
    margin-right: 10px;
    height: 100%;
    border-radius: 4px;
}

.movie-block strong {
    font-size: 1rem;
    margin-top: 0;
    overflow-wrap: anywhere;
}

.show-time {
    margin-top: 3px;
    font-size: 1rem;
}
.omdu {
    font-size: 1rem;
    margin-top: 3px;
    font-weight: bold;
}