/* Basic styling for header and layout */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #333;
    color: white;
}

.theater-header h2 {
    margin: 5%;
}

.day-buttons button {
    margin-right: 5px;
    padding: 10px;
    background-color: #555;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.day-buttons button.active {
    background-color: #f90;
}

.schedule-grid {
    display: flex;
    flex-direction: row;
    margin: 8px
}

.column {
    position: relative; /* Allows absolute positioning inside */
    flex: 1; /* Columns take equal space */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0px;
    margin: 8px;
    height: 800px;
    overflow: hidden; /* Hide overflow */
}

.movie-block {
    background-color: #dddddd; /* Light blue background */
    border: 1px solid #333;
    border-radius: 5px;
    padding: 0px;
    margin: 5%;
    color: black;
    text-align: center;
    overflow: hidden;
    width: 90%;
}

.movie-block h3 {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
}

.movie-block p {
    margin: 5px 0 0;
    font-size: 12px;
    color: #777;
}
